<div class="banner">
<%= stylesheet_link_tag 'chairs' %>
  <div class="container">
    <h1 style="text-align: center; margin-top: 30px; font-size: 36px; color: #333;">Your Published Chairs</h1>
  </div>
</div>

<div class="container">
  <div class="cards-container">
    <% current_user.chairs.each do |chair| %>
      <%= link_to chair_path(chair), class: "card-chair" do %>
        <div class="card-chair-image-container">
          <% chair.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill %>
          <% end %>
          <% if user_signed_in? && current_user.photo.attached? %>
            <%= image_tag current_user.photo, class: "avatar card-chair-user avatar-bordered" %>
          <% end %>
        </div>
        <div class="card-chair-infos">
          <h2 class="card-title"><%= chair.name %></h2>
          <h3 class="card-chair-pricing">$<%= chair.price %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="go-back-button-container" style="text-align: center; margin-top: 30px;">
  <button onclick="window.history.back();" class="go-back-button">Go Back</button>
</div>
