<div class="bannertwo">
  <div class="container w-50 shadow bg-white mt-5 p-3">
    <h1><%= @chair.name %></h1>
    <%= number_to_currency(@chair.price, unit: "$", separator: ".")  %>
    <% @chair.photos.each do |photo|%>
      <p><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></p>
      <% end %>
    <h3>Rating: <%= @chair.rating %></h3>
    <p><%= @chair.description %></p>
    <p><%= @chair.address %></p>
    <p>This chair belongs to: <%= @chair.user.email %></p>
    <%# nececitamos ruta de bookings new para que el boton de abajo funcione %>
    <%= link_to "Rent this chair!", new_chair_booking_path(@chair), class:"btn btn-primary" %>

  </div>
</div>
