<div class="bannertwo">
  <div class="container w-50 shadow bg-white mt-5 p-3">
    <h1><%= @chair.name %></h1>
    <h2>$<%= @chair.price %></h2>
    <% @chair.photos.each do |chair|%>
      <%= cl_image_tag @chair.photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <h3>Rating: <%= @chair.rating %></h3>
    <p><%= @chair.description %></p>
    <p>This chair belongs to: <%= @chair.user.email %></p>
    <%# nececitamos ruta de bookings new para que el boton de abajo funcione %>
    <%= link_to "Rent this chair!", "#", class:"btn btn-primary" %>

  </div>
</div>
