<div class="bannertwo">
  <div class="container w-50 shadow bg-white mt-5 p-3">
    <button onclick="window.history.back();" style="position: fixed; bottom: 20px; left: 20px; background-color: #6c757d; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 50px;">Go Back</button>
    <h1><%= @chair.name %></h1>
    <%= number_to_currency(@chair.price, unit: "$", separator: ".")  %>
    <% @chair.photos.each do |photo|%>
      <p><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></p>
    <% end %>
    <h3>Rating: <%= @chair.rating %></h3>
    <p><%= @chair.description %></p>
    <p><%= @chair.address %></p>
    <p>This chair belongs to: <%= @chair.user.email %></p>
    <% if current_user != @chair.user %>
      <%= link_to "Rent this chair!", new_chair_booking_path(@chair), class:"btn btn-primary" %>
    <% end %>
    <div class="d-flex flex-row">
      <% if current_user == @chair.user %>
        <p>Make Changes to your Chair Listing</p>
        <div class="p-2"><%= link_to "Edit Chair", edit_chair_path(@chair), class:"btn btn-primary" %></div>
        <div class="p-2"><%= button_to "Delete Chair", @chair, method: :delete, class:"btn btn-danger text-white " %></div>
      <% end %>
    </div>
  </div>
</div>
