<div class="bg-color py-5">
  <div class="container w-50 shadow bg-white p-3">
    <div class="d-flex">
      <div class="photo-show m-auto">
        <h1>Your Chair is Confirmed!</h1>
        <p>Your booking starts on: <%= @booking.date_start %></p>
        <p>And it ends on: <%= @booking.date_end %></p>
        <h4>Information on your chair:</h4>
        <% @booking.chair.photos.each do |photo| %>
          <p><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%></p>
        <% end %>
        <p><%= @booking.chair.name %></p>
        <p>$<%= @booking.chair.price %></p>
        <p><%= @booking.chair.description %></p>
        <p>Your chair is located at <%= @booking.chair.address %></p>
        <%= link_to 'Download information', download_information_path(format: :pdf), target:"_blank", class: 'btn btn-success' %>
      </div>
  </div>
</div>

