<div class="bgcolor">
  <div class="container w-50 shadow bg-white mt-5 p-3">
    <h1>Your Chair is Confirmed!</h1>

    <p>Your booking starts on: <%= @booking.date_start %></p>
    <p>And it ends on: <%= @booking.date_end %></p>

    <h4>Information on your chair:</h4>
    <% @booking.chair.photos.each do |photo| %>
      <p><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill%></p>
    <% end %>
    <p><%= @booking.chair.name %></p>
    <p>$<%= @booking.chair.price %></p>
    <p><%= @booking.chair.description %></p>
    <p>Your chair is located at <%= @booking.chair.address %></p>
  </div>
</div>

<button id="back-button" onclick="window.history.back();" style="position: fixed; bottom: 20px; left: 20px; background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 50px;">Go Back</button>
