<div class="footer">
  <div class="footer-links">
    <%= link_to "#", class: "fab fa-github" %>
    <%= link_to "#", class: "fab fa-instagram" %>
    <%= link_to "#", class: "fab fa-facebook" %>
    <%= link_to "#", class: "fab fa-twitter" %>
    <%= link_to "#", class: "fab fa-linkedin" %>
  </div>
  <div class="footer-copyright">
    <p><%= link_to, "This footer is made with", "#" %></p>

  </div>
</div>
